<html>
<head>
    <title>Signup Form</title>
    <script src="./Controller/AddBookCheck.js"></script>
</head>
<body>
    <form id="AddBookInput" action="" method="post" onsubmit="return validateForm()">
     
        
       Bookid: <input type="varchar" id="Bookid" name="Bookid" value="" required> <br>
        Bookname: <input type="text"  id="Bookname" name="Bookname" value="" required> <br>
        Author: <input type="text" id="Author" name="Author" value="" required> <br>
        Genre:    <input type="text" id ="Genre" name="Genre" value="" required> <br>
        Quantity <input type="INT"id="Quantity"name="Quantity" value="" required> <br>

        <button type="submit">Submit</button>
    </form>


</body>
</html>