
<html>
<title>Add New Book</title>
<head>
    <title>Search</title>
    <script src="../controller/script.js"></script>
</head>
<body>

  <fieldset>
  <legend>Book Management</legend>
  
            Bookid: <input type="varchar" name="Bookid" value="" > <br>
            Bookname: <input type="text" name="Bookname" value="" > <br>
            Author: <input type="text" name="Author" value="" > <br>
            Genre:    <input type="text" name="Genre" value="" > <br>
            Quantity <input type="INT" name="Quantity" value="" > <br>
            Search here : <input type="text" id="Input"> <br>
    <button onclick="search()">Search</button>
</body>
</html>
